@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


:root{
     --white: #fff;
     --gris: #333;
     --red: #CC1818;
}
 



*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    position: relative;
    width: 100%;
    min-width: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header img {
    position: relative;
    max-width: 100px;
}

header ul{
    position: relative;
    display: flex;
}

.toggle{
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 35px;
    cursor: pointer;
    z-index: 11;
    display: none;
}

.toggle.active{
    background: url(/landingmission/img/close.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;

}

.toggle.active > i {
    display: none;
}

header ul.navigation.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--white);
    z-index: 10;
    transition: .5s;


}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: var(--gris);
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;

}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.textbox{
    position: relative;
    max-width: 600px;
}

.textbox h2{
    color: var(--gris);
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;

}


.textbox h2 span{
    color: var(--red);
    font-size: 1.2em;
    font-weight: 900
    ;
}

.textbox p {
    color: var(--gris);
}

.textbox a {
    display: inline-block;
    margin-top:  20px;
    padding: 8px 20px;
    background:var(--red) ;
    border-radius: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--white);
}

.content .imgbox{
    width: 600px;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 50px;
    margin-top: 50px;
    height: 600px;
}

.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: flex;
    transform: translateX(-50%);
}


.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px ;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover{
    transform: translateY(-20px);
}


.thumb li img {
    max-width: 120px;
}

.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.sci i {
    display: inline-block;
    margin: 5px 0;
    transform:  scale(0.6);
    font-size: 60px;
    cursor: pointer;
    color: var(--white);
}

.sci i a {
    display: inline-block;
    
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--red);
    clip-path: circle(700px at right 800px);
}


@media (max-width: 991px){

    header{
        padding: 20px;
    }

    header img {
        max-width: 100px;
    }

    header ul{
        display: none;
    }

    header ul li a {
        font-size: 2em;
        margin: 10px 0 ;
    }

    section{
        padding: 20px 20px 120px  0 ;
        min-width: 10%;

    }

    .content{
        flex-direction: column;
        margin-top: 70px;
        justify-content: center;

    }

    .content .textbox h2{
        margin-top: 20px;
        font-size: 2.2em;

    }

    .content .imgbox{
        margin: 0;
        padding-bottom: 0;
        width: 350px;
        height: 400px;


    }


    .textbox {
        max-width: 100%;

    }

    .textbox .imgbox{
        justify-content: center;
        margin-top: 0;
        margin: 0;

    }

    .content .imgbox img{
        
    max-width: 550px;
    max-height: 400px;
    
        
        

    }

    .thumb li img {
        max-width: 100px;
        
    }
    .circle{
        clip-path: circle(447px at center bottom);
    }

    .sci{
        background: var(--red);
        right: 0;
        width: 50px;
        /* border-top-left-radius: 5px; */
        /* border-bottom-left-radius: 5px; ; */

    }

    .toggle{
        position: relative;
        width: 40px;
        height: 40px;
        font-size: 35px;
        cursor: pointer;
        z-index: 11;
        display: flex;
        transition: .5s ;
    }

}



